.header {
  color: $mainColor;
  background: white;

  width: 100%;

  position: fixed;
  top: 0;
  right: 0;

  transition: all .5s;

  &.scrolled {
    background: $mainColor;

    .header__nav-list-item-link, .header__name a {
      color: #fff;

      &:hover {
        color: #ffc600;
      }
    }
  }

  &__container {
    padding: .3rem 10vw;

    display: flex;
    justify-content: space-between;

  }

  &__nav {
    display: flex;
    align-items: center;

    &-list {
      display: flex;
      align-items: center;

      list-style: none;

      margin: 0;
      padding: 0;

      &-item {
        &:not(:last-child) {
          margin-right: 1rem;
        }

        &-link {
          color: $mainColor;
          text-decoration: none;
          text-transform: uppercase;
          letter-spacing: 0.1rem;

          transition: all .5s;

          &:hover {
            color: #ffc600;
          }

        }
      }
    }
  }

  &__text {

  }

  &__name {

    a {
      font-family: "Kaushan Script", "Helvetica Neue", Helvetica, sans-serif;
      font-size: 2.8rem;

      transition: all .5s;
      color: $mainColor;
      text-decoration: none;

      &:hover {
        color: #ffc600;
      }
    }


  }
}

.main {
  margin-top: 15rem;
  padding: 0 10vw;

  &__container {
    margin-bottom: 1.5rem;
  }
}

.footer {
  margin-top: 10rem;

  background: $mainColor;
  color: white;
  &__container {
    padding: 25px;
  }
}

.contact {

}