.header {
  background: $mainColor;
  color: #fff;

  width: 35rem;
  height: 20rem;

  position: fixed;
  top: 0;
  right: 0;

  clip-path: polygon(0% 0%, 100% 0%, 100% 100%);

  &__text {
    transform: rotate(30.5deg);
    margin-left: 6rem;
    margin-top: 3.5rem;

    text-align: center;
  }

  &__name {
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 2.8rem;
  }

  &__title {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 2rem;
  }
}

.main {
  margin-top: 15rem;
  background: lightblue;

  padding: 15rem
}