/* Form */

form {
  margin: 0 0 2rem 0;
}

form > :last-child {
  margin-bottom: 0;
}

form > .fields {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -2rem 0 2rem -2rem;
  width: calc(100% + 4rem);
}

form > .fields > .field {
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  padding: 2rem 0 0 2rem;
  width: calc(100% - 2rem);
}

form > .fields > .field > :last-child {
  margin-bottom: 0;
}

form > .fields > .field.half {
  width: calc(50% - 1rem);
}

form > .fields > .field.third {
  width: calc(100% / 3 - 0.6666666667rem);
}

form > .fields > .field.quarter {
  width: calc(25% - 0.5rem);
}

@media screen and (max-width: 480px) {
  form > .fields {
    margin: -1.5rem 0 2rem -1.5rem;
    width: calc(100% + 3rem);
  }

  form > .fields > .field {
    padding: 1.5rem 0 0 1.5rem;
    width: calc(100% - 1.5rem);
  }

  form > .fields > .field.half {
    width: calc(100% - 1.5rem);
  }

  form > .fields > .field.third {
    width: calc(100% - 1.5rem);
  }

  form > .fields > .field.quarter {
    width: calc(100% - 1.5rem);
  }
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='tel'],
input[type='search'],
input[type='url'],
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 0.325rem;
  border: solid 2px rgba(144, 144, 144, 0.25);
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1rem;
  text-decoration: none;
  width: 100%;
}

input[type='text']:invalid,
input[type='password']:invalid,
input[type='email']:invalid,
input[type='tel']:invalid,
input[type='search']:invalid,
input[type='url']:invalid,
select:invalid,
textarea:invalid {
  box-shadow: none;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus,
input[type='tel']:focus,
input[type='search']:focus,
input[type='url']:focus,
select:focus,
textarea:focus {
  border-color: #2ee4bb;
}

label {
  color: #000000;
  display: block;
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.175em;
  line-height: 1.75;
  margin: 0 0 1rem 0;
  text-transform: uppercase;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='tel'],
input[type='search'],
input[type='url'] {
  height: 3rem;
}

select {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(144, 144, 144, 0.25)' /%3E%3C/svg%3E");
  background-position: calc(100% - 1rem) center;
  background-repeat: no-repeat;
  background-size: 1.25rem;
  height: 3rem;
  padding-right: 3rem;
  text-overflow: ellipsis;
}

select option {
  background-color: #ffffff;
  color: #000000;
}

select:focus::-ms-value {
  background-color: transparent;
}

select::-ms-expand {
  display: none;
}

textarea {
  padding: 0.75rem 1rem;
}

input[type='checkbox'],
input[type='radio'] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  float: left;
  margin-right: -2rem;
  opacity: 0;
  width: 1rem;
  z-index: -1;
}

input[type='checkbox'] + label,
input[type='radio'] + label {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.0375em;
  padding-left: 2.675rem;
  padding-right: 0.875rem;
  position: relative;
  text-transform: none;
}

input[type='checkbox'] + label:before,
input[type='radio'] + label:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

input[type='checkbox'] + label:before,
input[type='radio'] + label:before {
  border-radius: 0.325rem;
  border: solid 2px rgba(144, 144, 144, 0.25);
  content: '';
  display: inline-block;
  height: 1.8rem;
  left: 0;
  line-height: 1.725rem;
  position: absolute;
  text-align: center;
  top: -0.15rem;
  width: 1.8rem;
}

input[type='checkbox']:checked + label:before,
input[type='radio']:checked + label:before {
  content: '\f00c';
  background-color: #49fcd4;
  border-color: #49fcd4;
  color: #ffffff;
}

input[type='checkbox']:focus + label:before,
input[type='radio']:focus + label:before {
  border-color: #49fcd4;
  box-shadow: 0 0 0 1px #49fcd4;
}

input[type='checkbox'] + label:before {
  border-radius: 0.325rem;
}

input[type='radio'] + label:before {
  border-radius: 100%;
}

::-webkit-input-placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.25) !important;
}

:-moz-placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.25) !important;
}

::-moz-placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.25) !important;
}

:-ms-input-placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.25) !important;
}

@media screen and (max-width: 736px) {
  label {
    font-size: 0.675rem;
  }

  input[type='checkbox'] + label,
  input[type='radio'] + label {
    font-size: 1rem;
  }
}

@media screen and (max-width: 360px) {
  label {
    font-size: 0.675rem;
  }

  input[type='checkbox'] + label,
  input[type='radio'] + label {
    font-size: 1rem;
  }
}

/* Icon */

.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.icon > .label {
  display: none;
}

/* Image */

.image {
  border: 0;
  display: inline-block;
  position: relative;
}

.image img {
  display: block;
}

.image[data-position] img {
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  object-fit: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image[data-position='top left'] img {
  -moz-object-position: top left;
  -webkit-object-position: top left;
  -ms-object-position: top left;
  object-position: top left;
}

.image[data-position='top'] img {
  -moz-object-position: top;
  -webkit-object-position: top;
  -ms-object-position: top;
  object-position: top;
}

.image[data-position='top right'] img {
  -moz-object-position: top right;
  -webkit-object-position: top right;
  -ms-object-position: top right;
  object-position: top right;
}

.image[data-position='right'] img {
  -moz-object-position: right;
  -webkit-object-position: right;
  -ms-object-position: right;
  object-position: right;
}

.image[data-position='bottom right'] img {
  -moz-object-position: bottom right;
  -webkit-object-position: bottom right;
  -ms-object-position: bottom right;
  object-position: bottom right;
}

.image[data-position='bottom'] img {
  -moz-object-position: bottom;
  -webkit-object-position: bottom;
  -ms-object-position: bottom;
  object-position: bottom;
}

.image[data-position='bottom left'] img {
  -moz-object-position: bottom left;
  -webkit-object-position: bottom left;
  -ms-object-position: bottom left;
  object-position: bottom left;
}

.image[data-position='left'] img {
  -moz-object-position: left;
  -webkit-object-position: left;
  -ms-object-position: left;
  object-position: left;
}

.image[data-position='center'] img {
  -moz-object-position: center;
  -webkit-object-position: center;
  -ms-object-position: center;
  object-position: center;
}

.image[data-position='25% 25%'] img {
  -moz-object-position: 25% 25%;
  -webkit-object-position: 25% 25%;
  -ms-object-position: 25% 25%;
  object-position: 25% 25%;
}

.image[data-position='75% 25%'] img {
  -moz-object-position: 75% 25%;
  -webkit-object-position: 75% 25%;
  -ms-object-position: 75% 25%;
  object-position: 75% 25%;
}

.image[data-position='75% 75%'] img {
  -moz-object-position: 75% 75%;
  -webkit-object-position: 75% 75%;
  -ms-object-position: 75% 75%;
  object-position: 75% 75%;
}

.image[data-position='25% 75%'] img {
  -moz-object-position: 25% 75%;
  -webkit-object-position: 25% 75%;
  -ms-object-position: 25% 75%;
  object-position: 25% 75%;
}

.image.left,
.image.right {
  max-width: 40%;
}

.image.left img,
.image.right img {
  width: 100%;
}

.image.left {
  float: left;
  margin: 0 2rem 2rem 0;
  top: 0.25rem;
}

.image.right {
  float: right;
  margin: 0 0 2rem 2rem;
  top: 0.25rem;
}

.image.fit {
  display: block;
  margin: 0 0 2rem 0;
  width: 100%;
}

.image.fit img {
  width: 100%;
}

.image.main {
  display: block;
  margin: 3rem 0;
  width: 100%;
}

.image.main img {
  width: 100%;
}

.image.main:first-child {
  margin-top: 0;
}

.image.fill {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.image.fill img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Button */

input[type='submit'],
input[type='reset'],
input[type='button'],
button,
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
  -webkit-transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
  -ms-transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
  background-color: transparent;
  border-radius: 0.325rem;
  border: 0;
  box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
  color: #000000 !important;
  cursor: pointer;
  display: inline-block;
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 0.6rem;
  font-weight: 600;
  height: 3rem;
  letter-spacing: 0.175em;
  line-height: 3rem;
  padding: 0 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

input[type='submit']:hover,
input[type='reset']:hover,
input[type='button']:hover,
button:hover,
.button:hover {
  box-shadow: inset 0 0 0 2px #2ee4bb;
  color: #2ee4bb !important;
}

input[type='submit']:active,
input[type='reset']:active,
input[type='button']:active,
button:active,
.button:active {
  background-color: rgba(73, 252, 212, 0.25);
  box-shadow: inset 0 0 0 2px #2ee4bb;
  color: #2ee4bb !important;
}

input[type='submit'].small,
input[type='reset'].small,
input[type='button'].small,
button.small,
.button.small {
  font-size: 0.5rem;
  height: 2.25rem;
  line-height: 2.25rem;
  padding: 0 1.25rem;
}

input[type='submit'].large,
input[type='reset'].large,
input[type='button'].large,
button.large,
.button.large {
  font-size: 0.7rem;
  height: 3.2625rem;
  line-height: 3.2625rem;
  padding: 0 3.25rem;
}

input[type='submit'].wide,
input[type='reset'].wide,
input[type='button'].wide,
button.wide,
.button.wide {
  min-width: 13rem;
}

input[type='submit'].icon:before,
input[type='reset'].icon:before,
input[type='button'].icon:before,
button.icon:before,
.button.icon:before {
  margin-right: 0.5rem;
}

input[type='submit'].fit,
input[type='reset'].fit,
input[type='button'].fit,
button.fit,
.button.fit {
  width: 100%;
}

input[type='submit'].disabled,
input[type='submit']:disabled,
input[type='reset'].disabled,
input[type='reset']:disabled,
input[type='button'].disabled,
input[type='button']:disabled,
button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
  pointer-events: none;
  opacity: 0.25;
}

input[type='submit'].primary,
input[type='reset'].primary,
input[type='button'].primary,
button.primary,
.button.primary {
  background-color: #49fcd4;
  box-shadow: none;
  color: #000000 !important;
}

input[type='submit'].primary:hover,
input[type='reset'].primary:hover,
input[type='button'].primary:hover,
button.primary:hover,
.button.primary:hover {
  background-color: #93ffe7;
}

input[type='submit'].primary:active,
input[type='reset'].primary:active,
input[type='button'].primary:active,
button.primary:active,
.button.primary:active {
  background-color: #44f2cb;
}

@media screen and (max-width: 736px) {
  input[type='submit'],
  input[type='reset'],
  input[type='button'],
  button,
  .button {
    font-size: 0.7rem;
    height: 3.3rem;
    line-height: 3.3rem;
  }

  input[type='submit'].large,
  input[type='reset'].large,
  input[type='button'].large,
  button.large,
  .button.large {
    font-size: 0.8rem;
    height: 3.75rem;
    line-height: 3.75rem;
  }

  input[type='submit'].small,
  input[type='reset'].small,
  input[type='button'].small,
  button.small,
  .button.small {
    font-size: 0.6rem;
    height: 3rem;
    line-height: 3rem;
  }
}

/* Actions */

ul.actions {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  cursor: default;
  list-style: none;
  margin-left: -1rem;
  padding-left: 0;
}

ul.actions li {
  padding: 0 0 0 1rem;
  vertical-align: middle;
}

ul.actions.special {
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  width: 100%;
  margin-left: 0;
}

ul.actions.special li:first-child {
  padding-left: 0;
}

ul.actions.stacked {
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 0;
}

ul.actions.stacked li {
  padding: 1.3rem 0 0 0;
}

ul.actions.stacked li:first-child {
  padding-top: 0;
}

ul.actions.fit {
  width: calc(100% + 1rem);
}

ul.actions.fit li {
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  width: 100%;
}

ul.actions.fit li > * {
  width: 100%;
}

ul.actions.fit.stacked {
  width: 100%;
}

@media screen and (max-width: 480px) {
  ul.actions:not(.fixed) {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 0;
    width: 100% !important;
  }

  ul.actions:not(.fixed) li {
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    padding: 1rem 0 0 0;
    text-align: center;
    width: 100%;
  }

  ul.actions:not(.fixed) li > * {
    width: 100%;
  }

  ul.actions:not(.fixed) li:first-child {
    padding-top: 0;
  }

  ul.actions:not(.fixed) li input[type='submit'],
  ul.actions:not(.fixed) li input[type='reset'],
  ul.actions:not(.fixed) li input[type='button'],
  ul.actions:not(.fixed) li button,
  ul.actions:not(.fixed) li .button {
    width: 100%;
  }

  ul.actions:not(.fixed) li input[type='submit'].icon:before,
  ul.actions:not(.fixed) li input[type='reset'].icon:before,
  ul.actions:not(.fixed) li input[type='button'].icon:before,
  ul.actions:not(.fixed) li button.icon:before,
  ul.actions:not(.fixed) li .button.icon:before {
    margin-left: -0.5rem;
  }
}

/* Icons */

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.icons li {
  display: inline-block;
}

ul.icons li:last-child {
  padding-right: 0;
}

ul.icons li .icon {
  -moz-transition: background-color 0.25s ease-in-out;
  -webkit-transition: background-color 0.25s ease-in-out;
  -ms-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
  width: 2.25rem;
  height: 2.25rem;
  text-align: center;
  line-height: 2.25rem;
  border-radius: 2.25rem;
  display: inline-block;
}

ul.icons li .icon:before {
  font-size: 1.25rem;
}

ul.icons li .icon:hover {
  background-color: rgba(144, 144, 144, 0.1);
}
